services:
  nginx:
    image: nginx:alpine
    pull_policy: always
    container_name: nginx-gateway
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt/live/brainstormy.ru/fullchain.pem:/etc/nginx/ssl/fullchain.pem:ro
      - /etc/letsencrypt/live/brainstormy.ru/privkey.pem:/etc/nginx/ssl/privkey.pem:ro
    depends_on:
      - frontend
      - backend
    restart: unless-stopped

networks:
  shared:
    external: true
    name: shared-network