services:
  nginx:
    image: nginx:alpine
    container_name: nginx-gateway
    ports:
      - "80:80"
    volumes:
      - ./balancer/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
    restart: unless-stopped
  backend:
    build:
      context: ./backend
    container_name: nest-backend
    expose:
      - "3000"
    environment:
      IAM_TOKEN: ${IAM_TOKEN}
      FOLDER_ID: ${FOLDER_ID}
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        VITE_BASE_URL: ${VITE_BASE_URL}
    container_name: vite-frontend
    expose:
      - "80"
    restart: unless-stopped
